@namespace CloudStreams.Dashboard.Pages.CloudEvents.List
@page "/events"
@using CloudStreams.Dashboard.Pages.CloudEvents.List
@using System.Reactive.Linq
@using CloudStreams.Dashboard.StateManagement
@inherits StatefulComponent<CloudEventListStore, CloudEventListState>
@inject ICloudStreamsApiClient CloudStreamsApi

<ApplicationTitle>Events</ApplicationTitle>

<ReadOptionsForm @ref="readOptionForm" OnChange="Store.SetReadOptions"></ReadOptionsForm>


<Table Items="events"
    AutoGenerateColumns="false"
    TableClass="table table-striped table-hover"
    RowClass="cursor-pointer"
    Loading="loading"
>
    <RowTemplate>
        <Row RenderContext="context" OnClick="async _ => await OnShowCloudEventOffcanvasAsync(context.Item)" />
    </RowTemplate>
    <Columns>
        <Column TData="CloudEvent" 
            ValueProvider="e => e.ExtensionAttributes == null ? null : e.ExtensionAttributes[CloudEventExtensionAttributes.Sequence]">
            <HeaderTemplate>Sequence</HeaderTemplate>
        </Column>
        <Column TData="CloudEvent"
                ValueProvider="e => e.Id">
            <HeaderTemplate>Id</HeaderTemplate>
        </Column>
        <Column TData="CloudEvent"
                ValueProvider="e => e.Time"
                Format="R">
            <HeaderTemplate>Time</HeaderTemplate>
        </Column>
        <Column TData="CloudEvent"
                ValueProvider="e => e.Source">
            <HeaderTemplate>Source</HeaderTemplate>
            <CellTemplate Context="context">
                <a href="#by-source" @onclick:preventDefault @onclick:stopPropagation @onclick="_ => OnReadCloudEventPartition(CloudEventPartitionType.BySource, context.Value!.ToString()!)">@context.Value</a>
            </CellTemplate>
        </Column>
        <Column TData="CloudEvent"
                ValueProvider="e => e.Type">
            <HeaderTemplate>Type</HeaderTemplate>
            <CellTemplate Context="context">
                <a href="#by-type" @onclick:preventDefault @onclick:stopPropagation @onclick="_ => OnReadCloudEventPartition(CloudEventPartitionType.ByType, context.Value!.ToString()!)">@context.Value</a>
            </CellTemplate>
        </Column>
        <Column TData="CloudEvent"
                ValueProvider="e => e.Subject">
            <HeaderTemplate>Subject</HeaderTemplate>
            <CellTemplate Context="context">
                <a href="#by-subject" @onclick:preventDefault @onclick:stopPropagation @onclick="_ => OnReadCloudEventPartition(CloudEventPartitionType.BySubject, context.Value!.ToString()!)">@context.Value</a>
            </CellTemplate>
        </Column>
        <Column TData="CloudEvent"
                ValueProvider="e => e.DataSchema">
            <HeaderTemplate>Data Schema</HeaderTemplate>
            <CellTemplate Context="context">
                <a href="@context.Value" target="_blank">@context.Value</a>
            </CellTemplate>
        </Column>
        <Column TData="CloudEvent"
                ValueProvider="e => e.DataContentType">
            <HeaderTemplate>Data Content Type</HeaderTemplate>
            <CellTemplate Context="context">
                <span class="badge rounded-pill text-bg-primary bg-primary-subtle">@context.Value</span>
            </CellTemplate>
        </Column>
    </Columns>
</Table>

<Offcanvas @ref="offcanvas" Size="OffcanvasSize.Large" ReadOnly="true" UseBackdrop="false" />

@code{

    List<CloudEvent>? events;
    Offcanvas? offcanvas;
    ReadOptionsForm? readOptionForm;
    bool loading = false;

    /// <inheritdoc/>
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync().ConfigureAwait(false);
        this.Store.Loading.Subscribe(processing => this.OnStateChanged(cmp => cmp.loading = processing), token: this.CancellationTokenSource.Token);
        this.Store.CloudEvents.Subscribe(this.OnCloudEventCollectionChanged, token: this.CancellationTokenSource.Token);
    }

    /// <summary>
    /// Patches the <see cref="View"/>'s fields after a <see cref="CloudEventListStore"/>'s change
    /// </summary>
    /// <param name="patch">The patch to apply</param>
    private void OnStateChanged(Action<View> patch)
    {
        patch(this);
        this.StateHasChanged();
    }

    void OnReadCloudEventPartition(CloudEventPartitionType type, string id)
    {
        if (this.readOptionForm != null) this.readOptionForm.SetPartition(type, id);
    }

    void OnCloudEventCollectionChanged(List<CloudEvent>? events)
    {
        if (this.events == events) return;
        this.events = events;
        this.StateHasChanged();
    }

    Task OnShowCloudEventOffcanvasAsync(CloudEvent e)
    {
        if (this.offcanvas == null) return Task.CompletedTask;
        var parameters = new Dictionary<string, object>();
        parameters.Add("ReadOnly", true);
        parameters.Add("CloudEvent", e);
        return this.offcanvas.ShowAsync<CloudEventDetails>(title: "Cloud Event Details", parameters: parameters);
    }

}