@namespace CloudStreams.Dashboard.Pages.Brokers.List
@page "/brokers"
@inherits ResourceManagementComponent<Broker>

<ApplicationTitle>Brokers</ApplicationTitle>

<div class="table-container">
    @if (loading)
    {
        <div class="loading">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="sticky-header text-start">Name</th>
                <th class="sticky-header text-center">Created At</th>
                <th class="sticky-header text-center">Generation</th>
                <th class="sticky-header text-center">Retry Policy</th>
                <th class="sticky-header text-center">Circuit Breaker</th>
                <th class="sticky-header text-center">Health Status</th>
                <th class="sticky-header text-end"></th>
            </tr>
        </thead>
        <tbody>
            @if (resources != null && resources.Any())
            {
                <Virtualize Context="resource" Items="@resources">
                    <tr @onclick="async _ => await OnShowResourceDetailsAsync(resource)" class="cursor-pointer">
                        <td class="text-start">@resource.Metadata.Name</td>
                        <td class="text-center">@resource.Metadata.CreationTimestamp.ToString()</td>
                        <td class="text-center">@resource.Metadata.Generation</td>
                        <td class="text-center">@(resource.Spec?.Dispatch?.RetryPolicy == null ? "no" : "yes")</td>
                        <td class="text-center">@(resource.Spec?.Dispatch?.RetryPolicy?.CircuitBreaker == null ? "no" : "yes")</td>
                        <td class="text-center"><span class="bi-circle-fill @GetCssClassFor(resource.Status?.HealthStatus)"></span></td>
                        <td class="text-end">
                            <button class="btn btn-outline-primary btn-sm" title="Edit '@resource.Metadata.Name'" @onclick="async _ => await OnShowResourceEditorAsync(resource)" @onclick:preventDefault @onclick:stopPropagation><Icon Name="IconName.Pencil" /></button>
                            <button class="btn btn-outline-danger btn-sm" title="Delete '@resource.Metadata.Name'" @onclick="async _ => await OnDeleteResourceAsync(resource)" @onclick:preventDefault @onclick:stopPropagation><Icon Name="IconName.Trash" /></button>
                        </td>
                    </tr>
                </Virtualize>
            }
        </tbody>
    </table>
</div>

<Button Outline="true" Color="ButtonColor.Primary" @onclick="async _ => await OnShowResourceEditorAsync()"><Icon Name="IconName.Plus" /></Button>

<Offcanvas @ref="detailsOffCanvas" Size="OffcanvasSize.Large" UseStaticBackdrop="false" BodyCssClass="d-flex flex-column" />

<Offcanvas @ref="editorOffCanvas" Size="OffcanvasSize.Large" UseStaticBackdrop="false" BodyCssClass="d-flex flex-column" />

<ConfirmDialog @ref="dialog" />

@code {

    string GetCssClassFor(string? healthStatus)
    {
        return healthStatus switch
        {
            HealthStatus.Degraded => "text-warning",
            HealthStatus.Healthy => "text-primary",
            HealthStatus.Unhealthy => "text-danger",
            _ => "text-secondary"
        };
    }

}