@namespace CloudStreams.Dashboard.Pages.Subscriptions.List
@page "/subscriptions"
@inherits ResourceManagementComponent<Subscription>

<ApplicationTitle>Subscriptions</ApplicationTitle>

<div class="table-container">
    @if (loading)
    {
        <div class="loading">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    }
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="sticky-header">Name</th>
                <th class="sticky-header">Created At</th>
                <th class="sticky-header">Filter</th>
                <th class="sticky-header">Mutation</th>
                <th class="sticky-header">Desired Offset</th>
                <th class="sticky-header">Acked Offset</th>
                <th class="sticky-header"></th>
            </tr>
        </thead>
        <tbody>
            @if (resources != null && resources.Any())
            {
                <Virtualize Context="resource" Items="@resources">
                    <tr @onclick="async _ => await OnShowResourceDetailsAsync(resource)" class="cursor-pointer">
                        <td>@resource.Metadata.Name</td>
                        <td>@resource.Metadata.CreationTimestamp.ToString()</td>
                        <td>@(resource.Spec?.Filter == null ? "no" : "yes")</td>
                        <td>@(resource.Spec?.Mutation == null ? "no" : "yes")</td>
                        <td>@(resource.Spec?.Stream == null ? "-" : resource.Spec?.Stream.Offset)</td>
                        <td>@(resource.Status == null || resource.Status?.Stream == null ? "" : resource.Status?.Stream?.AckedOffset)</td>
                        <td class="text-end">
                            <button class="btn btn-outline-primary btn-sm" title="Edit '@resource.Metadata.Name'" @onclick="async _ => await OnShowResourceEditorAsync(resource)" @onclick:preventDefault @onclick:stopPropagation><Icon Name="IconName.Pencil" /></button>
                            <button class="btn btn-outline-danger btn-sm" title="Delete '@resource.Metadata.Name'" @onclick="async _ => await OnDeleteResourceAsync(resource)" @onclick:preventDefault @onclick:stopPropagation><Icon Name="IconName.Trash" /></button>
                        </td>
                    </tr>
                </Virtualize>
            }
        </tbody>
    </table>
</div>

<Button Outline="true" Color="ButtonColor.Primary" @onclick="async _ => await OnShowResourceEditorAsync()"><Icon Name="IconName.Plus" /></Button>

<Offcanvas @ref="detailsOffcanvas" Size="OffcanvasSize.Large" UseBackdrop="false" BodyCssClass="d-flex flex-column" />

<Offcanvas @ref="editorOffcanvas" Size="OffcanvasSize.Large" UseBackdrop="false" BodyCssClass="d-flex flex-column" />

<ConfirmDialog @ref="dialog" />