@namespace CloudStreams.Dashboard.Pages.Subscriptions.List
@page "/subscriptions"
@inherits ResourceManagementComponent<Subscription>

<ApplicationTitle>Subscriptions</ApplicationTitle>

<Table Items="resources"
    AutoGenerateColumns="false"
    TableClass="table table-striped table-hover"
    RowClass="cursor-pointer">
    <RowTemplate>
        <Row RenderContext="context" OnClick="async _ => await OnShowResourceDetailsAsync(context.Item)" />
    </RowTemplate>
    <Columns>
        <Column TData="Subscription"
                ValueProvider="s => s.Metadata.Name">
            <HeaderTemplate>Name</HeaderTemplate>
        </Column>
        <Column TData="Subscription"
                ValueProvider="s => s.Metadata.CreationTimestamp"
                Format="R">
            <HeaderTemplate>Created At</HeaderTemplate>
        </Column>
        <Column TData="Subscription"
                ValueProvider="@(s => s.Spec.Filter == null ? "no" : "yes")">
            <HeaderTemplate>Filter</HeaderTemplate>
        </Column>
        <Column TData="Subscription"
                ValueProvider="@(s => s.Spec.Mutation == null ? "no" : "yes")">
            <HeaderTemplate>Mutation</HeaderTemplate>
        </Column>
        <Column TData="Subscription"
                ValueProvider="@(s => s.Spec.Stream == null ? "-" : s.Spec.Stream.Offset)">
            <HeaderTemplate>Desired Offset</HeaderTemplate>
        </Column>
        <Column TData="Subscription"
                ValueProvider="s => s.Status == null || s.Status.Stream == null ? null : s.Status.Stream.AckedOffset">
            <HeaderTemplate>Acked Offset</HeaderTemplate>
        </Column>
        <Column TData="Subscription" CssClass="text-end">
            <HeaderTemplate />
            <CellTemplate Context="context">
                <button class="btn btn-outline-primary btn-sm" title="Edit '@context.Item.Metadata.Name'" @onclick="async _ => await OnShowResourceEditorAsync(context.Item)" @onclick:preventDefault @onclick:stopPropagation><Icon Name="IconName.Pencil" /></button>
                <button class="btn btn-outline-danger btn-sm" title="Delete '@context.Item.Metadata.Name'" @onclick="async _ => await OnDeleteResourceAsync(context.Item)" @onclick:preventDefault @onclick:stopPropagation><Icon Name="IconName.Trash" /></button>
            </CellTemplate>
        </Column>
    </Columns>
</Table>

<Offcanvas @ref="detailsOffcanvas" Size="OffcanvasSize.Large" UseBackdrop="false" BodyCssClass="d-flex flex-column" />

<Offcanvas @ref="editorOffcanvas" Size="OffcanvasSize.Large" UseBackdrop="false" BodyCssClass="d-flex flex-column" />

<ConfirmDialog @ref="dialog" />